/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        comma_to_semmicolon: comma_to_semmicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_TO_SEMMICOLON";
            bindings = <&kp COMMA>, <&kp LS(SEMICOLON)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_to_colon: dot_to_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_TO_COLON";
            bindings = <&kp DOT>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    macros {
        a_accent_circon: a_accent_circon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_2 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "A_ACCENT_CIRCON";
            wait-ms = <10>;
            tap-ms = <5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB     &kp Q  &kp C  &kp O         &kp P      &kp W       &kp J          &kp M      &kp D  &kp EXCLAMATION       &kp Y     &kp BSPC
&kp ESCAPE  &kp A  &kp S  &kp E         &kp N      &kp F       &kp L          &kp R      &kp T  &kp I                 &kp U     &kp ENTER
&kp LSHFT   &kp Z  &kp X  &kp QUESTION  &kp V      &kp B       &dot_to_colon  &kp H      &kp G  &comma_to_semmicolon  &kp FSLH  &kp RIGHT_SHIFT
                          &kp LEFT_ALT  &kp LCTRL  &kp LCMD    &mo 1          &kp SPACE  &mo 2
            >;
        };

        Nav {
            display-name = "Base";
            bindings = <
&kp TAB     &kp DELETE    &kp HOME      &kp UP        &kp END       &kp PAGE_UP      &kp SLASH  &kp N7        &kp NUMBER_8  &kp NUMBER_9  &trans        &kp BSPC
&kp ESCAPE  &kp CAPSLOCK  &kp LEFT      &kp DOWN      &kp RIGHT     &kp PAGE_DOWN    &kp MINUS  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp NUMBER_0  &kp ENTER
&kp LSHFT   &bt BT_CLR    &kp C_VOL_DN  &kp K_MUTE    &kp C_VOL_UP  &bt BT_NXT       &kp COMMA  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp DOT       &kp RIGHT_SHIFT
                                        &kp LEFT_ALT  &kp LCTRL     &mo 3            &mo 1      &kp SPACE     &mo 2
            >;
        };

        AltGr {
            display-name = "Base";
            bindings = <
&kp TAB     &kp CARET       &kp LESS_THAN         &kp GREATER_THAN       &kp DOLLAR       &kp PERCENT    &kp AT_SIGN    &kp AMPERSAND    &kp ASTERISK   &kp SQT    &kp GRAVE          &kp BSPC
&kp ESCAPE  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp EQUAL      &kp BACKSLASH  &kp PLUS         &kp MINUS      &kp SLASH  &kp DOUBLE_QUOTES  &kp ENTER
&kp LSHFT   &kp TILDE       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp UNDERSCORE   &kp HASH       &kp PIPE       &kp EXCLAMATION  &kp SEMICOLON  &kp COLON  &kp QUESTION       &kp RIGHT_SHIFT
                                                  &kp LEFT_ALT           &kp LCTRL        &kp LCMD       &mo 1          &kp SPACE        &mo 2
            >;
        };

        Functional {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
